*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html{
    width: 100%;
    height: 100%;
    

}
.container-body{
    min-height: 100%;
    background-color: #E5E5E5;
}

.header{
    grid-area: header;
    height: 100%;
    padding: 30px 30px;
    display: inline-flex;
    opacity: 0.9;
    color: black;
 
}
h1{
    font-size: 50px;
    width: 90%;
    font-weight: bolder;
    margin-bottom: 20px;
}
.parrafo-saludos{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    width: 70%;
    font-family: 'Poppins' sans-serif;
}

.container-saludos, .saludos3{
    width: 100%;
    max-width: 600px;
    height: 450px;
    margin: auto;
    display: block;
}
.btn-facebook{
    background-color: #728CF7;
}
.btn-facebook:hover{
    background-color: rgb(40, 40, 201);
}
.btn-instagram{
    background-color: #68AAF3;
}
.btn-instagram:hover{
    background-color: rgb(20, 197, 220);
}
.btn-telegram{
    background-color: #FF9B70;
}
.btn-telegram:hover{
    background-color: #df7a4f;
}
.btn-twitter{
    background-color: #E17094;
}
.btn-twitter:hover{
    background-color: rgb(219, 14, 82) ;
}


.follow{
    display:inline-flex;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
   margin-bottom: 30px;
   width: 90%;
  
}
.follow p{
    margin-top:7px;

}
.follow a{
    width: 36px;
    height: 36px;
    margin-left: 20px;
    border-radius: 50%;
}
.follow span{
    position: relative;
    align-items: center;
    top: 6px;
    font-size: 15px;
    color: white;
}

.btn-send{
    width: 155 px;
    height: 45px;
    border: none;
    background-color: #b60626;
    color:  white;;
    font-weight: 500;
    margin-left: 30px;
}
.btn-descarga{
    width: 155 px;
    height: 45px;
    background-color: white;
    color:  #545454;
    font-weight: bolder;
    margin-left: 20px;
}


.foto, .foto3{
    width: 40%;
    max-width: 400px;
    padding: 20px;
    margin-left: 0px;
  
}
nav{
    grid-area: nav;
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #C75000;
 
    
}
.titulo-logo{
    color: white;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-left: 15px;
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    margin-top: 10px;
    height: 30px;
 
}
hr{
    margin-top: -5px;
    background-color: white;
    size: 5px;
    width: 100%;
}

nav .links li{
    list-style: none;
    size: 8px;
}

nav .links {
    position: relative;
    top:60%;
    width: 65%;
    margin: 0;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -320px;
  
}

nav .links >li {
    display:inline-block;
    margin-left: 20px;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 35px;
    margin-bottom: 25px;
  
}
nav .links > li:hover{ 
    background-color: #FF2950;
  
}

nav .links > li > i{
   color: #5e5c5cbb;
   text-align: right;
   font-weight: 500;
   font-size: 30px;
   
    
}
nav .links > li > i:hover{
    color: white;
    
 }
 .banderas{
    width: 600px;
    height: 100px;
    display: flex;
    margin-top: 295px;
    margin-left: 0px;
 }
 .img-ban{
    margin-left: 5px;
 }

#nav-toggle{
    position: absolute;
    top: -100px;
}

nav .menu_desplazante {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .menu_desplazante .line, .line2, .line3{
    height: 3px;
    background-color: #ffff;
    margin: 5px;
    margin-right: 10px;
    border-radius: 10px;
    
    transition: all .3s ease-in-out;
}
nav .menu_desplazante .line{
    width: 14px;
    margin-left: 20px;
    

}
nav .menu_desplazante .line2{
    width: 30px;
   
    
}
nav .menu_desplazante .line3{
    width: 20px;
    margin-left: 15px;
    
    
}
.main{
    grid-area: main;
 
}
.container-help{
    width: 78%;
    height: 400px;
    top: -300px;
    padding: 30px 30px;
    margin-left: 13%;
    display:flex;
    border-radius: 35px;
    background-color: #C75000;
}
.help-icono{
    margin-top:10px;
    
    margin-left: 0px;
}
/*.saludos1{
    width: 50%;
    max-width: 400px;
    height: 380px;
    padding-left: 30px;
}

.foto1{
    width: 91%;
    max-width: 500px;
    padding: 20px;
    margin-left: 80px;
    
}*/
.section1{
    display: block;
   margin-left: 30px;
}
.section1-1,.section1-2{
    margin-left: 0px;
    width: 200px;
    margin-bottom: 20px;
    color: white;
   
 }
 .section1-3{
    width: 500px;
    margin-left: -160px;
    color: white;
    margin-top: 40px;
    
   
 }
 .section1-31{
    width: 500px;
    font-size: 55px;
    margin-left: -20px;
    font-weight: bolder;
    color: white;
 }
 .parr{
    display:flex;
    font-size: 18px; 
    margin-left: -160px;
    color: white;
 }
.numero{
    color: white;
    font-family: 'Poppins';
    font-weight: bold;
    font-style:inherit;
    font-size: 65px;
}
main h4, h6{
    color: white;
}
.star{
    margin-top: 25px;
    margin-bottom: 31px;
}

.contrato{
    width: 91%;
    margin-top: 20px;
    padding: 30px 30px;
    margin-left: 5%;
    display: flex;
    opacity: 0.9;
    border-radius: 35px;
    
}
.titulo{
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins',sans-serif;
    color: black;
    font-weight:bolder;
    
 
}
.card{
    background-color: #E5E5E5 ;
    border: none;
    width: 18rem;
    font-family: 'Poppins'sans-serif;
}
.card-body{
    text-align: center;
}
.img-contrato{
    width: 95px;
    height: 88px;
    margin-left: 32%;
    text-align: center;
    
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


.portafolio{
    width: 91%;

    margin-top: 20px;
    padding: 30px 30px;
    margin-left: 5%;
    display: flex;
    opacity: 0.9;
    border-radius: 35px;
 
}
.portafolio h2{
    color: black;
    font-size: 40px;
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
}
.seguir-viendo{
    margin-top: 20px;
    font-weight: 500;
    margin-left: 73%;
    color: black;
    text-decoration: none;
}
.seguir-viendo1{
    margin-top: 20px;
    font-weight: 500;
    margin-left: 82%;
    color: black;
    text-decoration: none;
}
.seguir-viendo:hover, .seguir-viendo1:hover{
    text-decoration: none;
}
.galeria{
    width: 100%;
    margin-bottom: 100px;
}

.usuarios{
    margin-top: 10px;
    padding: 30px 30px;
    background-color: #C24E00;
}
.titulo1{
    justify-content: center;
    margin-top: 5px;
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins',sans-serif;
    color: white;
    font-weight:bolder;
    margin-bottom: 10px;
  
}
.card3{
    width: 28rem; 
    height: auto;
    border-radius: 25px;
    background-color: white;
    margin-left: 20px;
}

.icono-perfil{
    width: 50px;
    height: 47px;
    margin-top: 20px;
    margin-left: 0px;
 
}
.card-text{
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
    color: black;
    font-weight: 600;

}
.nombre{
    
    width: 180px;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
}
.cargo{
    width: 150px;
    margin-top: -20px;
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin-left: 100px;
    text-align: left;
    color: rgb(0, 0, 0);
}
.puntaje{

    margin-top: 10px;
   
    margin-left: -15px;
   display: inline-flex;
}

.carousel1{
    width: 1100px;
    margin-left: 80px;
}
.carousel__contenedor{
    position: relative;
    padding: 10px;
   

}
.carousel__contenedor2{
    position: relative;
    width: 95%;
    margin-left: 12px;
    padding: 10px;
  

}
.carousel__anterior, .carousel__siguiente{
    position: absolute;
    display: block;
    width: 25px;
    height: 31px;
    border: blanchedalmond;
    top: calc(50% - 35px);
    cursor:pointer;
    line-height: 30px;
    text-align: center;
    background: rgba(170, 169, 169, 0.773);
    border-radius: 0px;
    color: black;
    opacity: 28%;
    font-size: 15px;

}
.carousel__anterior:hover, .carousel__siguiente:hover{
 color: rgb(146, 146, 146);

 opacity: 70%;
}
.carousel__anterior{
    left: -40px;
   
}
.carousel__siguiente{
   right: -40px;
}
.carousel__lista, .carousel__lista2{
    overflow: hidden;
    
}

.carousel__elemento{
    text-align: center;
}
.carousel__elemento2{
    margin-left: 10px;
    text-align: center;
    
}

.carousel__indicadores .glider-dot, 
.carousel__indicadores2 .glider-dot{
 display:block;
 width: 10px;
 height: 10px;
 opacity: .8;
 border-radius: 50px;
 margin-top: 20px;
 margin-bottom: 30px;
 background-color: #F9F9F9;
}
.carousel__indicadores .glider-dot:hover,
.carousel__indicadores2 .glider-dot:hover{
    background-color: #505050;
    opacity: 0.9;
   }
   .carousel__indicadores .glider-dot .active
   .carousel__indicadores2 .glider-dot .active{
    opacity: 1;
    background-color: #505050;
    width: 30px;
    height: 10px;
   }
 
 .plans{
    width: 85%;
    margin-top: 20px;
    padding: 30px 30px;
    margin-left: 7%;
    display: flex;
    opacity: 0.9;
    border-radius: 35px;
    align-items: center;
}
.card1{
    background-color: white ;
    border: none;
    border-radius: 15px;
    width: 335px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;

}
.card-body1{
    height: 430px;
    padding: 0px 50px 0px 50px;
}
.card-body1 li{
text-align: left;
height: 20px;
font-family: 'Poppins'sans-serif;

}
.divisor{
    margin-top: 5px;
    background-color: rgba(170, 166, 166, 0.349);
    width: 100%;
}

.titulo-plans{
    background-color: #FF9B70;
    width: 335px;
    height: 40px;
    font-size: 25px;
    font-weight: 500;
    color: #3B3B3B;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.precio{
     font-weight: 700;
     font-size: 40px;
     display: inline-flex;
     margin-left: 10px;
     color: black;
}
.text-muded{
    font-size: 20px;
    font-weight: 500;
   
}
.activo{
    font-weight: bolder;
}
.activo i{
    font-weight: bolder;
    color: orange;
}


.container-interented{
    width:1180px;
    height: 224px;
    margin-top: 40px;
    padding: 30px 30px;
    margin-left: 5%;
    display: inline-flex;
    opacity: 0.9;
    border-radius: 35px;
    background-color: #C75000;
    margin-bottom: 20px;
}
.btn-email{
    width: 229px;
    height: 60px;
    font-weight: 600;
    margin-top: 40px;
    justify-content: right;
    margin-left: 30%;
    font-size: 18px;
    font-weight: 600;
}


.card2{
    background-color:#F9F9F9;
    border: none;
    border-radius: 15px;
    width: 290px;
    margin-left: 10px;
    text-align: center;

}
.card-img-top{
    padding: 10px;
    border-radius: 15px;

}
.card-title{
    font-size: 16px;
    font-weight: 600;
    color: black;
    
   
}
.card-text1{
    font-size: 12px;
    color: rgba(36, 35, 35, 0.822);
    font-family: 'Poppins',sans-serif;
    
}
.btn-blog{
    width: 43px;
    height: 43px;
    margin-left: 80%;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #999;
}
.card2 i{
    font-size: 20px;
    font-weight: 700;
    color: grey;
  
}

.footer{
    grid-area: footer;
    display: flex;
    flex-flow: row wrap;
    padding: 20px 10px 10px 40px;
    color: #ffff;
    height: 130px;
    background-color:  #F1F1F1;
}
.footer-left{
    margin-top: 2%;
    width: 400px;
    margin-left: 20px;
    text-align: left;
}
.footer-left a{
   color: rgb(36, 33, 33);
   font-size: 18px;
   text-decoration: none;
   font-weight: 600;
}

.footer-center{
    margin-top: 2%;
    width: 400px;
    text-align: center;
    
}
.footer-center p{
   color: #222222;
   font-size: 18px;
   font-weight: 600;
}
.footer-right{
    margin-top: 2%;
    width: 400px;
    text-align:right;
    
}
.footer-right span{
   color: #222222;
   font-size: 20px;
   margin-left: 20px;
   font-weight: 600;
}

.container-body{
    display: grid;
    gap: 10px;
    grid-template: 
    "nav header"   
    "main main"   auto
    "footer footer"40px /70px auto;
}
@media screen and (max-width: 540px){
    html {

        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
     }

    .container-body{
        display: grid;
        gap: 10px;
        width: 100%;
        grid-template: 
        "nav" 
        "header"  
        "main"   
        "footer "70px/100%;
       
    }
 
    .header{
        padding: 0px 5px;
    } 
    h1{
        margin-top: 30px;
        font-size: 30px;
        width: 90%;
    }
.parrafo-saludos{
        font-size: 16px;
        font-weight: 400;
        width: 90%;
        line-height: 20px;
    }
     
     .container-saludos{
       text-align: left;
       margin-top: 60px;
       margin-left: 20px;
     }
     .follow {
        margin-left: -10px;
    }
     .follow p{
        display: none;
    }
     .foto{
         display: none;
         visibility: hidden;
     }
     .btn-send{
        width: 120px;
        margin-left: 20px;
    }
    .btn-descarga{
        width: 120px;
        margin-left: 5px;
    }
        nav{
            position: fixed;
            z-index: 20;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 55px;
            border-top-right-radius: 0px ;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            background: #C75000;
            opacity: 1;
            margin-top: 0px;
            } 
    
        hr{
            visibility: hidden;
        } 
        nav .logo_Principal strong{
            font-size: 40px;
            margin-left: -10px;
        } 
        nav .links__menu i{
            margin-left: -3px;
            opacity: 1;
            font-size: 15px;
        }
    
        nav .links > li {
            margin-top: 7px;
            margin-left: -10px;
        }
    
        nav .links{
            position: fixed;
            z-index: 9;
            top: 55px;
            margin-left: -100%;
            flex-direction: column;
            height: auto;
            width: 20%;
            background-color: rgba(214, 118, 8, 0.7);
            overflow: hidden;
            transition: all .5s ease-in-out;
            text-align: left;
            padding: 0px 20px 0px 20px;
            margin-top: 0px;
        }
    
        nav .menu__links{
            margin: 0;
            width: 100%;
        }
    
    
        
        nav :checked ~ .links{
            margin-left: 0;
        }
    
        nav .menu_desplazante{
            display: block;
        }
        .banderas{
            display: none;
            visibility: hidden;
        }
        .container-help{
            margin-left: 0px;
            width: 100%;
            height: 600px;
           
        }
        .help-icono{
            width: 299px;
            height: 228px;
            margin-top: 340px;
            margin-left: 0px;
        }
        .numero{
            font-size: 38px;
            text-align: center;
        }
        .section1{
            display: block;
            height: 400px;
        }
        .section1-1{
            width: 500px;
            height: 100px;
            margin-left: -190px;
            text-align: center;
            
        }
        .star{
            margin-top: 100px;
            margin-bottom: 20px;
        }
        
        .section1-2{
           width:200px;
           display: block;
           margin-top: 30px;
           margin-bottom: 40px;
           margin-left: -170px;
           text-align: center;
        }
        .section1-3 {
           width: 300px;
           font-size: 24px;
           display: block;
           text-align: left;
           margin-top: -20px;
           margin-left: -160px;
        }
        .parr{
           margin-left: -235px;
           width: 320px;
           font-size: 16px;
           text-align: center;
        }
       .contrato{
           display: block;
           margin-left:5px;
       }
      
            .portafolio{
               height: 100px;
            } 
            .portafolio h2{
             margin-left: -20px;
            }
            .row{
            
                position: relative;
       
            }
            .galeria{
               width: 100%;
               display:flexbox;
               margin-bottom: 0px;
           }
       .col-lg-4{
           
           width: 180px;
           height: 200px;
       }
      .seguir-viendo{
          margin-top: 640px;
          margin-left: -20px;
          font-size: 14px;
          color: burlywood;
       }
       
       
       .card3{
           width: 290px; 
           height: 200px;
           margin-left: 5px;
           border-radius: 25px;
           
       }
       
       .card-text{
           font-size:14px;
       
       }
       .icono-perfil{
           margin-top: 0px;
           width: 30px;
           height: 30px;
           margin-left: -20px;
       }
       .nombre{
           font-size: 13px;
           width: 130px;
           
       }
       .cargo{
           margin-top: -5px;
           font-size: 13px;
           margin-left: 40px;
       }
       .puntaje{
           margin-left: -30px;
           
       }
    
       .carousel1{
           width: 320px;
           margin-left: -10px;
       }
       
       .carousel__siguiente,.carousel__anterior{
           display: none;
       }
       .plans{
            display: block;
            align-content: center;
           }
           
           .card-body1{
           
               padding: 0px 45px 0px 45px;
           }
       
           .card1{
               width: 300px;
               margin-left: -28px;
               margin-top: 20px;
           }
            .titulo1{
                font-size: 20px;
            }
           .titulo-plans{
                width: 300px;
                font-size: 25px;
                font-weight: 700;
           }
           
           .precio{
                margin-left: 35px;
                font-size: 30px;
                text-align: center;
                margin-bottom: -3px;
           }
       
       .container-interented{
           width:100%; 
           margin-left: -5px;
           display: block;
           
       }
       .btn-email{
           width: 229px;
           height: 60px;
           font-weight: 700;
           margin-top: 40px;
           justify-content: right;
           
       }
       .foto3{
           width: 10%;
           padding: 20px;
           margin-left: 20px;
           
       }
       
        .section1-31{
          display:flex;
          margin-top: -10px;
          text-align: center;
          margin-left: 0px;
          font-size: 30px;
          width: 100%;

       }
       .carousel2{
           margin-left: -10px
       }
       .seguir-viendo1{
        display: none;
        visibility: hidden;
       }
       .saludos3{
           
           height: 50px;
           padding-left: 5px;
           
           
       }
       
       footer{
           display: flex;
           flex-flow: row wrap;
           padding: 20px 10px 10px 40px;
           color: #ffff;
           height: 170px;
           background-color:  #F1F1F1;
       }
       .footer-left{
          margin-left: -15px;
           text-align: center;
       }
       
       .footer-center{
        margin-left: -15px;
           margin-top: 15%;
           width: 300px;
           text-align: center;
          }
       
       .footer-right{
        margin-left: -15px;
           margin-top: -85px;
           width: 300px;
           text-align:center;
          
       }
       
       
       }